<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
<script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '122733093117726',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v10.0',
      HTTPS :true
    });
  };
  FB.getLoginStatus(function(response) {
  	console.log(response)
  if (response.status === 'connected') {
    var accessToken = response.authResponse.accessToken;
  } 
} );
</script>
